---
import Section from "../Section.astro";

import { skills } from "../../../cv.json";
---

<Section title="Habilidades">
  <ul class="inline-flex gap-2 flex-wrap">
    {
      skills.map(({ name, image }) => (
        <li class="rounded-md bg-gray-300 text-black font-semibold px-3 py-1 flex items-center content-start">
          {image && (
            <img src={image} alt={name} class="h-4 inline-block mr-1" />
          )}
          <span class="text-sm">{name}</span>
        </li>
      ))
    }
  </ul>
</Section>
