---
import Layout from "../layouts/Layout.astro";

import About from "../components/sections/About.astro";
import Education from "../components/sections/Education.astro";
import Experience from "../components/sections/Experience.astro";
import Hero from "../components/sections/Hero.astro";
import Projects from "../components/sections/Projects.astro";
import Skills from "../components/sections/Skills.astro";
import KeyboardManager from "../components/KeyboardManager.astro";

import { basics } from "../../cv.json";
import References from "../components/sections/References.astro";
import Certificates from "../components/sections/Certificates.astro";
const { name, label } = basics;
---

<Layout title={`Portafolio de ${name} - ${label}`}>
  <main class="m-auto w-full p-4 md:p-16">
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
    <Certificates />
    <References />
  </main>
  <KeyboardManager />
</Layout>
